<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <h1>Books Route</h1>
    <button>
      <a href="/books/new">Create a new book</a>
    </button>
    <button>
      <a href="/authors">Add new author</a>
    </button>
    <button>
        <a href="/books/authors">Books By Authors</a>
    </button>
    <button>
        <a href="/books/category">Books By Category</a>
    </button>
    <% books.forEach((book,index)=>{ %>
    <h1><%= index+1 %>. <%= book.title %></h1>
    <a href="/books/<%= book.id %> ">Know More</a>
    <% }) %>
  </body>
</html>
