<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/authors" method="POST">
      <input type="text" placeholder="Author's Name" name="name" />
      <input type="text" placeholder="Author's Email" name="email" />
      <input type="text" placeholder="Author's Country" name="country" />
      <input type="submit" value="Add Author" />
    </form>
  </body>
</html>
