<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Articles</h1>
    <a href="/articles">Show All Articles</a>
  </body>
</html>
